build/
*.o
qemu.conf
# bought media stays out of the repository; chime.wav is the system sound
user/share/sounds/*
!user/share/sounds/chime.wav
/*.wav
BUILDNUM
/data.img
/data-*.img
/data-*.img.bak
# editor project files
*.geany
# the dictionaries of imed, downloaded by tools/fetch_imedata.sh
/third_party/imedata/
